

 #bc_top {
     background-color:black;
     color:white;
     text-align:center;
     padding:5px;
}
 #bc_center_left {
     /*width:350px;*/
     /*float:left;*/
     padding:10px;
}
 #bc_center_right {
     padding:10px;
 }
 #bc_below {
     background-color:black;
     color:white;
     clear:both;
     text-align:center;
     padding:5px;
 }

 .content001{
     width: 990px;
     padding-top: 10px;
     margin: 0 auto;
 }
 .nav-channel  {
     float: left;
     height: 35px;
     background: none repeat scroll 0 0 #F8F8F8;
     border-top: 5px solid #b2110e;
 }

 a {
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     float: left;
     width: 52px;
     height: 34px;
     line-height: 34px;
     font-size: 14px;
     position: relative;
 }

 .bbl {
      border-bottom: 1px solid #e5e5e5;
  }

